@font-face {
    font-family: jenna;
    src: url(jennaSuePro.ttf);
}

@font-face {
    font-family: myriad;
    src: url(myriadProSemi.otf);
}
.st0{fill:#F37322;}
.st1{fill:#F37322;}
.st2{fill:#333333;}
.st3{fill:#FFFFFF;}
.st4{fill:#215FAB;}
.st5{fill:#FFFFFF;stroke:#F37322;stroke-miterlimit:10;}
.st6{fill:#58595B;}
.st7{font-family:'myriad';}
.st8{font-size:19.1889px;}
.st9{font-size:10.3794px;}
.st10{fill:#6D6F71;}
.st11{fill:#E4E5E6;}
.st12{font-size:38.544px;}
.st13{font-family:'jenna';}
.st14{font-size:57.816px;}

.orange {
    fill: #F37322;
}

.dkGrey {
    fill: #6D6F71;
}

.ltGrey {
    fill: #E4E5E6;
}

path:hover, circle:hover {
    /* stroke: #ED7200 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #ED7200 !important; */
    cursor: pointer;
}

#info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #F37322;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

/* Base Colors */
.AK, .AL, .AR, .AS, .AZ, .CA, .CO, .CT, .DC, .DE, 
.FL, .GA, .GU, .HI, .IA, .ID, .IL, .IN, .KS, .KY {
    fill: #F37322;
}


.LA, .MA, .MD, .ME, .MI, .MN, .MO, .MP, .MS, .MT {
    fill: #F9A725;
}


.NC, .ND, .NE, .NH, .NJ, .NM, .NV, .NY, .OH, .OK {
    fill: #6D6E71;
}


.OR, .PA, .PR, .RI, .SC, .SD, .TN, .TX, .UM, .UT, 
.VA, .VI, .VT, .WA, .WI, .WV, .WY {
    fill: #939598;
}

/* Hover Colors */
.AK:hover, .AL:hover, .AR:hover, .AS:hover, .AZ:hover, .CA:hover, .CO:hover, .CT:hover, .DC:hover, .DE:hover, 
.FL:hover, .GA:hover, .GU:hover, .HI:hover, .IA:hover, .ID:hover, .IL:hover, .IN:hover, .KS:hover, .KY:hover {
    fill: #F15B2E;
}


.LA:hover, .MA:hover, .MD:hover, .ME:hover, .MI:hover, .MN:hover, .MO:hover, .MP:hover, .MS:hover, .MT:hover {
    fill: #FFDD00;
}


.NC:hover, .ND:hover, .NE:hover, .NH:hover, .NJ:hover, .NM:hover, .NV:hover, .NY:hover, .OH:hover, .OK:hover {
    fill: #58595B;
}


.OR:hover, .PA:hover, .PR:hover, .RI:hover, .SC:hover, .SD:hover, .TN:hover, .TX:hover, .UM:hover, .UT:hover, 
.VA:hover, .VI:hover, .VT:hover, .WA:hover, .WI:hover, .WV:hover, .WY:hover {
    fill: #C4C6C8;
}